

.container {
  display: flex;
  margin-top: 3%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  
    
}


.box { 
  box-sizing: border-box;
  margin: 10px;
}
h1{
  color: #ffd700;
}
img{
  border-radius: 2%;
}
/* For devices with a screen width of at least 600px */


/* For devices with a screen width of at most 599px */



