body {
  margin: 0;
  font-family:'Helvetica Neue','sans-serif';
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  display: block;
  background: rgb(6, 49, 49);
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
